/conda/*
!/conda/lib/
/conda/lib/*
!/conda/lib/site-packages/
/conda/lib/site-packages/*
!/conda/lib/site-packages/breaching/
/conda/lib/site-packages/breaching/*
!/conda/lib/site-packages/breaching/attacks/
!/conda/lib/site-packages/breaching/attacks/*.py

/libs
/utils
/wear loso models
/models/__pycache__
*.png
*.zip